<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<div style="background-color: blue;display: inline-block;width: 100%;text-align: center;padding-bottom: 5px;" >
    <table>
      <tr>
        <td>           
              <div style="display: inline-block;width: 10%;">
            <img src="assets\IBM_Logo.PNG">
          </div>
        </td>
        <td style="width: 100%;">
          <div style="display: inline-block;width: 75%;">
              <h2 style="padding-top:0px ;font-weight: bold;"> IBM Risk Financial Services
              </h2>
          </div>
        </td>
    </tr>
    </table>
</div>
<div style="text-align: center;">
    <p >Don't have access to application. Please contact your Administrator.</p>
</div>