.left { 
    float:left; 
   
    width: 14%;
    height: 90%;
} 
.right{ 
    /* float:left; */
     margin-left: 5px; 
    width: 70%;
    margin-top: 13em;
    /* position: relative; */
  } 

  
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    text-emphasis:start applet;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  .sidenav {
    height: 100%;
    margin-left: 0%;
    
    /* position:absolute;  */
    /*position:fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 100;
    width: 100%;
    background-color: rgb(36, 35, 35);
    /* background-color:rgb(103, 58, 183 ); */
    overflow-x: hidden;
    padding-top: 3%;
  }
  
  .sidenav a {
    padding: 6px 20px 16px 26px;
    text-decoration: none;
    font-size: 0px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  th, td {
    padding: 8px;
    padding-top: 10px;
   
  text-align: left;
  border-bottom: 1px solid #ddd;
  }